<configuration>
  <appSettings>
    <add key="BotId" value="HospiteringsTechBot" />
    <add key="MicrosoftAppId" value="23148b4f-8f6b-4cc2-8df2-50faa4e973a8" />
    <add key="MicrosoftAppPassword" value="cyFV839]yewfxVABLZ99+;*" />
  </appSettings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
