body{
  background-color: salmon;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mainContainer{
  width: 100%;
}

.form{
  width: 100%;
  padding: 20px 0;

  .textInput{
    display: block;
    min-width: 60%;
    max-width: 60%;
    min-height: 60px;
    margin: 20px auto;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;

    &::placeholder{
      animation: wave;
      animation-duration: 3s;
      /*animation-iteration-count: infinite;
      animation-direction: alternate;*/
      color: red;
      transition: opacity 0.35s ease-in-out;
    }
  }

  @keyframes wave {
    from {
          color: red;
        }
    to   {
        color: blue;
        }
  }

  @keyframes fadeIn {
    from { opacity: 0}
    to { opacity: 1}
  }

  .submitBtn{
    position: relative;
    font-size: 24px;
    height: 40px;
    width: 70px;
    background: #FFF;
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 3px 15px #666;
    background: radial-gradient(#fff 15%, #eee 40%, #ccc 90%); /* Standard syntax */
    animation: wave;
    animation-duration: 3s;

    &:hover{
      cursor: pointer;
    }

    &:active{
      bottom: -2px;
    }

    &:focus{
      outline: none;
    }
  }

  .recentQuestions{
    align-items: flex-start;
    padding: 0 20px;
    width: 600px;
    margin: 0 auto;

    li{
      font-size: 18px;
      text-align: left;
      padding: 4px 0;
    }
  }
}
